<%- include('../partials/head.ejs'); %> <%- include('../partials/navbar');%>

<body>
  <main>
    <div>
      <h1>Node com EJS</h1>
      <p>Vamos aprender a trabalhar com arquivos EJS</p>
      <p> <%= subtitle %> </p>
    </div>
  </main>

  


  <ul>
     <% qualitys.forEach(function (item){ %>
      <li>
        <strong> <%= item.title %> => </strong> <%= item.message %>
      </li>
      <% }) %> 
  </ul>

  
  <%- include('../partials/footer'); %>
</body>
